{% extends "index.html" %}
{% load static %}
{% load counter %}


{% block content %}

<div class="form-content space-bottom">
    <div class="form-title">
        <div class="row only-anchor">
            <a class="col-sm-1 centering no-decoration" href="{% url 'index' %}">
                <i class="fas fa-arrow-left more-size"></i>
            </a>
            <h2 class="col-sm-10 centering">Type Bill</h2>
        </div>
    </div>
</div>

<div class="row justify-content-end">
    <a
        href="{% url 'transactions:type_bills_create' %}"
        class="btn btn-outline-dark"
    >
        Create New Type Bill
    </a>
</div>

<div class="search-box">
    <div class="form-group row">
        <div class="col-sm-11">
            <input
                type="text"
                class="form-control"
                id="txt_search"
                onkeypress="keyPress(event)"
                value="{{ search }}"
            >
        </div>
        <a class="btn btn-primary col-sm-1" onclick="find()">
            <i class="fas fa-search">
            </i>
        </a>
    </div>
</div>

{% if type_bills %}

<table class="table all-anchor">
    <thead>
        <tr>
            <th scope="col">
                <a href="{% url 'transactions:type_bills_list' %}?page={{offset}}{{search|add_anpersand_search}}&order={% if 'name' in orders or '-name' in orders %}{% for order in orders %}{% if order == 'name' or order == '-name' %}{{order|negative}},{% else %}{{ order }},{% endif %}{% endfor %}{% else %}{{orders|join_array|add_comma_end}}name,{% endif %}">
                    Name
                </a>
                {% if 'name' in orders %}
                <i class="fas fa-sort-up"></i>
                {% endif %}
                {% if '-name' in orders %}
                <i class="fas fa-sort-down"></i>
                {% endif %}
            </th>
            <th scope="col">
                <a href="{% url 'transactions:type_bills_list' %}?page={{offset}}{{search|add_anpersand_search}}&order={% if 'description' in orders or '-description' in orders %}{% for order in orders %}{% if order == 'description' or order == '-description' %}{{order|negative}},{% else %}{{ order }},{% endif %}{% endfor %}{% else %}{{orders|join_array|add_comma_end}}description,{% endif %}">
                    Description
                </a>
                {% if 'description' in orders %}
                <i class="fas fa-sort-up"></i>
                {% endif %}
                {% if '-description' in orders %}
                <i class="fas fa-sort-down"></i>
                {% endif %}
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for type_bill in type_bills %}
        <tr>
            <td scope="row">
                {{ type_bill.name }}
            </td>
            <td>
                {{ type_bill.description }}
            </td>
            <td>
                <div class="row">
                    <form
                        action="{% url 'transactions:type_bills_delete' id=type_bill.id %}"
                        method="post"
                        class="action-box"
                    >
                        {% csrf_token %}
                        <button action="submit" method="post" class="btn btn-outline-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                    <a
                        class="btn btn-outline-primary free"
                        href="{% url 'transactions:type_bills_edit' id=type_bill.id %}"
                    >
                        <i class="fas fa-edit"></i>
                    </a>
                    <a
                        class="btn btn-outline-secondary free"
                        href="{% url 'transactions:type_bills_show' id=type_bill.id %}"
                    >
                        <i class="fas fa-eye"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    {{ count_getted }} of {{ count_type_bills }}
</p>

<nav class="paginator-box centering" aria-label="Page navigation">
    <ul class="pagination">
        {% if offset > 0 %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% url 'transactions:type_bills_list' %}?page={{offset|minus}}{{search|add_anpersand_search}}&order={{orders|join_array}}"
            >
                Previous
            </a>
        </li>
        {% endif %}

        {% if offset|minus > 0 %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% url 'transactions:type_bills_list' %}?page={{offset|minus|minus}}{{search|add_anpersand_search}}&order={{orders|join_array}}"
            >
                {{ offset|minus }}
            </a>
        </li>
        {% endif %}

        {% if offset > 0 %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% url 'transactions:type_bills_list' %}?page={{offset|minus}}{{search|add_anpersand_search}}&order={{orders|join_array}}"
            >
                {{ offset }}
            </a>
        </li>
        {% endif %}

        <li class="page-item active">
            <a
                class="page-link"
                href=""
            >
                {{ offset|more }}
            </a>
        </li>

        {% for paginate, is_valid in paginator %}
        {% if is_valid %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% url 'transactions:type_bills_list' %}?page={{paginate|minus}}{{search|add_anpersand_search}}&order={{orders|join_array}}"
            >
                {{ paginate }}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        {% if next %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% url 'transactions:type_bills_list' %}?page={{offset|more}}{{search|add_anpersand_search}}&order={{orders|join_array}}"
            >
                Next
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% else %}
<h3>No Priorities yet.</h3>
{% endif %}

{% endblock %}


{% block script %}

<script>
 const getData = (data) => document.getElementById(data);

 function find() {
     const toFind = getData('txt_search').value;
     const port = (window.location.port != undefined) ? ':' + window.location.port : '' ;

     let url = "{% url 'transactions:type_bills_list' %}";
     const page = "page={{offset}}";
     const order = "order={{orders|join_array}}";
     const search = (toFind != undefined) ? `&search=${toFind}` : '';
     const urlBase = `${window.location.protocol}//${window.location.hostname}${port}`;

     console.log(`${urlBase}${url}?${page}${search}&${order}`);
     window.location.replace(`${urlBase}${url}?${page}&${search}&${order}`);
 }

 function keyPress(e) {
     if (e.keyCode == 13) { // If Enter
         find();
     }
 }
</script>

{% endblock %}
